@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body {
    background-color: white;
    font-family: 'Lato', sans-serif;
}

header {
    width: 100%;
    height: 100px;
}

.barra {
    background-color: rgba(189, 55, 55, 0.733);
    width: 80%;
    height: 100px;
    display: flex;
    margin: auto;
    justify-content: space-between;


}

nav ul li {
    padding-top: 30px !important;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    padding-right: 15px;
}

nav ul li a:hover {
    background-color: rgba(198, 198, 198, 0.5);
}

h1 {
    color: black;
    font-weight: bold;
    text-align: center;
    border: 1px;
    padding: 5px;
}

h2 {
    color: black;
    font-weight: bold;
    text-align: center;
}

#carouselExampleControls {
    height: 100%;
    width: 100% !important;
    transition: transform 2s ease, opacity .5s ease-out
         }

.d-block {
    width: 80% !important;
    height: 500px;
    object-fit: cover;
    margin: auto;
} 


.bloquefotos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "fotouno fotodos ofertaweb"
        "fototres fotocuatro contactanos";
    gap: 40px;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.bloquefotos h2 {
    text-align: start;
}

.bloquefotos img {
    width: 100%;
    height: 300px;
}

.fotouno {
    grid-area: fotouno;
    width: 100%;
    height: 300px;
}

.fotodos {
    grid-area: fotodos;
    padding-top: 34px !important;
    width: 100%;
    height: 300px;
}

.fototres {
    grid-area: fototres;
    padding-top: 34px !important ;
    width: 100%;
    height: 300px;
}

.fotocuatro {
    grid-area: fotocuatro;
    padding-top: 34px !important ;
    width: 100%;
    height: 300px;
}

.ofertaweb {
    grid-area: ofertaweb;
    width: 100%;
    height: 300px;
    padding-bottom: 34px !important;
}

.contactanos {
    grid-area: contactanos;
    width: 100%;
    height: 300px;
    padding-bottom: 34px !important;
}

footer {
    background-color: antiquewhite;
    border: 5px;
    padding: 5px;
    margin: auto;
    font-size: 14px;
    width: 80%;
}

h3 {
    font-size: 18px;
}

p {
    color: black;
    font-weight: bold;

}

.novedadespadre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "novedadesuno novedadesdos novedadestres"
        "novedadescuatro novedadescinco novedadesseis";
    margin: auto;
    gap: 50px;
    width: 80%;
}

.novedadesuno img {
    grid-area: novedadesuno;
    width: 100%;
    height: 300px;
}

.novedadesdos img {
    grid-area: novedadesdos;
    width: 100%;
    height: 300px;
}

.novedadestres img {
    grid-area: novedadestres;
    width: 100%;
    height: 300px;
}

.novedadescuatro img {
    grid-area: novedadescuatro;
    width: 100%;
    height: 300px;
}

.novedadescinco img {
    grid-area: novedadescinco;
    width: 100%;
    height: 300px;
}

.novedadesseis img {
    grid-area: novedadesseis;
    width: 100%;
    height: 300px;
}

.ofertaspadre {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 80%;
    margin: auto
}



.ofertaspadre img {
    width: 100%;
    height: 400px;
    padding-top: 15px;
}

.contactarnos {
    width: 80%;
    margin: auto;
}



.categoriaspadre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "decouno decodos decotres decocuatro decocinco"
        "hogaruno hogardos hogartres hogarcuatro hogarcinco"
        "jardinuno jardindos jardintres jardincuatro jardincinco";
    margin: auto;
    width: 80%;
    gap: 15px;
}

.decouno img {
    grid-area: decouno;
    width: 100%;
    height: 200px;
    padding-bottom: 45px;
}

.decodos img {
    grid-area: decodos;
    width: 100%;
    height: 200px;
    padding-top: 45px;
}

.decotres img {
    grid-area: decotres;
    width: 100%;
    height: 200px;
    padding-top: 45px;
}

.decocuatro img {
    grid-area: decocuatro;
    width: 100%;
    height: 200px;
    padding-top: 45px;
}

.decocinco img {
    grid-area: decocinco;
    width: 100%;
    height: 200px;
    padding-top: 45px;
}

.hogaruno img {
    grid-area: hogaruno;
    width: 100%;
    height: 200px;
    padding-bottom: 45px;
}

.hogardos img {
    grid-area: hogardos;
    width: 100%;
    height: 200px;
    padding-top: 45px;
}

.hogartres img {
    grid-area: hogartres;
    width: 100%;
    height: 200px;
    padding-top: 45px;
}

.hogarcuatro img {
    grid-area: hogarcuatro;
    width: 100%;
    height: 200px;
    padding-top: 45px;
}

.hogarcinco img {
    grid-area: hogarcinco;
    width: 100%;
    height: 200px;
    padding-top: 45px;
}

.jardinuno img {
    grid-area: jardinuno;
    width: 100%;
    height: 200px;
    padding-bottom: 45px;
}

.jardindos img {
    grid-area: jardindos;
    width: 100%;
    height: 200px;
    padding-top: 45px;
}

.jardintres img {
    grid-area: jardintres;
    width: 100%;
    height: 200px;
    padding-top: 45px;
}

.jardincuatro img {
    grid-area: jardincuatro;
    width: 100%;
    height: 200px;
    padding-top: 45px;
}

.jardincinco img {
    grid-area: jardincinco;
    width: 100%;
    height: 200px;
    padding-top: 45px;
}

.contactanos {
    padding: 5px;
    margin: auto;
    width: 80%;

}
.__contact {
    margin: auto;
    width: 80%;
}
#form {
    text-align: center;
    padding: 5px;
    margin: auto;
    width: 80%;
}

label {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    
}

.instarai {
    margin: auto;
    width: 80%;
    text-align: center;

}

.instarai img {
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 768px) {

    .barra img {
        height: 120px;
        width: 120px;
    }

    .barra {
        width: 90%;
        height: 120px;
    }

    nav ul {
        display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;

    }

    .navbar {
        padding: 0px;
    }
    
    nav ul li {
        padding: 0px !important;
    }

    .bloquefotos {
        display: inline;
        margin: auto;
        width: 80%;
    }

    .bloquefotos h2 {
        padding-top: 10px;
        text-align: center;
    }
    
    .bloquefotos img {
        width: 100%;
        margin: auto;
    }

    .fotouno {
        height: 100%;
        margin: auto;
        width: 80%;
        align-items: center;
    }

    .fotodos {
        height: 100%;
        margin: auto;
        width: 80%;
        align-items: center;
    }

    .fototres {
        height: 100%;
        margin: auto;
        width: 80%;
        align-items: center;
    }

    .fotocuatro {
        height: 100%;
        margin: auto;
        width: 80%;
        align-items: center;
    }

    .ofertaweb {
        height: 100%;
        margin: auto;
        width: 80%;
        align-items: center;
        padding: 0px  !important;
    }

    .contactanos {
        height: 100%;
        margin: auto;
        width: 80%;
        align-items: center;
        padding: 0px !important;
    }

    footer {
        margin: auto;
    }

    .novedadespadre {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 80%;
        margin: auto;
        height: auto;
        gap: 10px;
        
    }

    .novedadespadre img {
        height: auto;
    }


    /* .novedadespadre {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "novedadesuno novedadesdos"
            "novedadestres novedadescuatro"
            "novedadescinco novedadesseis";
    }

    .novedadesuno img {
        height: 150px;
    }

    .novedadesdos img {
        height: 150px;
    }

    .novedadestres img {
        height: 150px;
    }

    .novedadescuatro img {
        height: 150px;
    }

    .novedadescinco img {
        height: 150px;
    }

    .novedadesseis img {
        height: 150px;
    } */

    .ofertaspadre {
        flex-wrap: wrap;
        justify-content: center;
    }

    .ofertaspadre img {
        height: max-content;
        margin: auto;
    }

    .categoriaspadre {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .categoriaspadre img {
        width: 100%;
        height: auto;
        padding: 0px;
    }
} 