.categoriadeco {
    @include display (grid, auto, 100%);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr;
    gap: 15px;
    justify-content: center;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border: 3px solid #43494e61;
        border-radius: 2px;
    }
    img:hover {
        transform: scale(1.1);
    }
}

.categoriahogar {
    @include display (grid, auto, 100%);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr;
    gap: 15px;
    justify-content: center;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border: 3px solid #43494e61;
        border-radius: 2px;
    }
    img:hover {
        transform: scale(1.15);
    }

}

.categoriajardin {
    @include display (grid, auto, 100%);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr;
    gap: 15px;
    justify-content: center;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border: 3px solid #43494e61;
        border-radius: 2px;
    }
    img:hover {
        transform: scale(1.1);
    }

}