
.contactanos {
    padding: 5px;
    margin: auto;
    width: 80%;

}

.__contact {
    margin: auto;
    width: 80%;
}

#form {
    text-align: center;
    padding: 5px;
    margin: auto;
    width: 80%;
}

label {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;

}

.instarai {
    margin: auto;
    width: 80%;
    text-align: center;
    img {
        width: 300px;
        height: 300px;
    }

}

