header {
    width: 100%;
    height: 100px;
    .barra {
        background-color: map-get($map: $colores, $key: redlogo );
        width: 100%;
        height: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
                li {
                    padding-top: 30px !important;
                    display: inline;
                    a {
                        text-decoration: none;
                        color: map-get($map: $colores, $key: oldwhite );
                        font-size: 14px;
                        text-transform: uppercase;
                        padding-left: 15px;
                        font-weight: bold;
                        padding-right: 15px;
                        a:hover {
                            background-color: map-get($map: $colores, $key: hovers);
                          }
                      }
                  }

      }
      
  }
  
