header {
    img {
        width: 100px;
        height: 100px;
    }

    .nav__lista {
        justify-content: flex-end;
    }

    a:hover {
        background-color: map-get($map: $colores, $key: hovers);
    }
}
