#carouselExampleControls {
    height: 100%;
    width: 100% !important;
    transition: transform 2s ease, opacity .5s ease-out
}

.d-block {
    width: 90% !important;
    height: 500px;
    object-fit: cover;
    margin: auto;
}

// .bloquefotos {
//     @include display (grid, auto, 90%);
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: 1fr 1fr;
//     grid-template-areas: "fotouno fotodos"
//         "fototres fotocuatro";
//     gap: 40px;
//     justify-content: center;
    
//     img {
//         width: 100%;
//         height: 400px;
//     }
// }

.bloquedos {
    @include display (grid, auto, 90%);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "ofertaweb contactanos";
    gap: 40px;
    img {
        width: 100%;
        height: 400px;
    }
}