@media screen and (max-width: 768px) {

    header img {
        height: 100%;
        width: 100%;
    }

    // header .barra li {
    //     padding-top: 0px !important;
    // }

    // .barra {
    //          height: 120px !important;
      
    // }

    // nav ul {
    //     display: flex;
    // flex-direction: column;
    // padding: 5px;
    // align-items: center;
    // justify-content: center;

    // }

    // .navbar {
    //     padding: 0px !important;
    // }
    
    // nav ul li {
    //     padding: 0px !important;
    // }

    .d-block {
        width: 100% !important;
    }

    .bloquefotos {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;
    }

    .bloquedos {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;
    }
   
    footer {
        margin: auto;
    }

    .novedadespadre {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;
        
    }

    .novedadespadre img {
        height: auto;
    }


    .ofertaspadre {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;
    }

    .ofertaspadre img {
        height: max-content;
        margin: auto;
    }

    .categoriadeco {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;
    }

    .categoriajardin {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;
    }

    .categoriahogar {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;
    }

} 