@media screen and (max-width: 768px) {

    .bg-light {

        button {
            width: 50%;
        }
        img {
            width: 150px;
            height: 150px!important;   
        }
        
    }

    .d-block {
        width: 100% !important;
    }

    .container_index {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;
    }

    .bloquedos {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;
    }

    footer {
        margin: auto;
    }

    .novedadespadre {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;

    }

    .novedadespadre img {
        height: auto;
    }


    .ofertaspadre {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;
    }

    .ofertaspadre img {
        height: max-content;
        margin: auto;
    }

    .categoriadeco {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;
    }

    .categoriajardin {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;
    }

    .categoriahogar {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: auto;
        height: auto;
        gap: 10px;
    }

}