.novedadespadre {
    @include display (grid, auto, 90%);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "novedadesuno novedadesdos novedadestres"
        "novedadescuatro novedadescinco novedadesseis";
    gap: 50px;
    img {
        width: 100%;
        height: 400px;
    }
}
