* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

$colores: (oldwhite: antiquewhite,
    hovers: rgba(198, 198, 198, 0.5),
    bg: white,
    bordes: #6c757d);

%textos {
    color: black;
    font-weight: bolder;
    text-align: center;
}

@mixin display ($display, $margen, $ancho) {
    display: $display;
    margin: $margen;
    width: $ancho;
}

body {
    background-color: map-get($map: $colores, $key: bg);
    font-family: 'Lato', sans-serif;
}


h1 {
    @extend %textos;
    border: 1px;
    padding: 5px;
}

h2 {
    @extend %textos
}

h3 {
    font-size: 18px;
    font-weight: bolder;
}

p {
    color: black;
    font-weight: bold;

}

button {
    width: 100%;
}